<div class="card">
    <div class="card-header">
        <h4>New Supplier</h4>
    </div>
    <div class="card-body">
        <form action="/suppliers" method="POST">
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Supplier Name *</label>
                    <input type="text" class="form-control" name="supplier_name" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Contact Person</label>
                    <input type="text" class="form-control" name="supplier_contact_name">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Contact Phone</label>
                    <input type="text" class="form-control" name="supplier_contact_phone">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="supplier_email">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Website</label>
                    <input type="url" class="form-control" name="supplier_website">
                </div>
                <div class="col-12">
                    <label class="form-label">Physical Address</label>
                    <textarea class="form-control" name="supplier_address" rows="2"></textarea>
                </div>
                <div class="col-12">
                    <label class="form-label">Postal Address</label>
                    <textarea class="form-control" name="supplier_postaddress" rows="2"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Create Supplier
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>