<div class="sidebar">
    <ul>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/clients">Clients</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/products">Products</a></li>
    </ul>
  </div>